@tailwind base;
@tailwind components;
@tailwind utilities;




/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Custom utility for MacBook screen size */
@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .macbook-h-screen {
    height: calc(100vh - -8rem); /* Adjust 5rem to the amount of space you want to give on the top and bottom combined */
  }
}
